h2{
 font-size: 36px;
}
img{
 height: auto;
 width: 335px;
}
#button{
 margin-top: 40px;
 width: 335px;
 height: 80px;
 background-color: #b8b8b8;
 border-radius: 15px;
 display: flex;
 border: none;
}
.left{
 margin-left: 0;
}
.right{
}
#button > p{
 font-size: 20px;
 display: block;
 border-radius: 15px;
 padding: 29px 20px;
}
.left > p{
 background-color: #0ecf22;
}
.right > p{
 margin-left: 200px;
 background-color: #cf0e0e;
}
