*{
 margin: 0;
 padding: 0;
 font-family: sans-serif;
 transition: .3s;
 color: white;
}
html{
 height: 100%;
}
body{
 height: 100%;
 background-color: #0e021d;
}
header{
 z-index: 999;
 height: 60px;
 width: 60px;
 overflow: hidden;
 background-color: rgba(255,255,255,.9);
 position: fixed;
 margin: 1% 0 0 5%;
 border-radius: 100px;
 display: flex;
 justify-content: flex-start;
 flex-wrap: wrap;
}
header.active{
 width: 90%;
}
header.active > .expend{
 background-color: rgba(14, 2, 29, 0.9);
}
header.active > .expend > .line{
 background-color: white;
}
header > .expend{
 padding: 12px 0;
 position: relative;
 width: 60px;
 height: 36px;
 border-radius: 100px;
 background-color: rgba(255,255,255,.9);
 order: -1;
 display: flex;
 justify-content: space-around;
 flex-direction: column;
}
header > .expend > .line{
 width: 50%;
 margin-left: 25%;
 height: 3px;
 background-color: #0e021d;
}
header > .row{
 display: flex;
 justify-content: space-between;
 margin: auto;
 width: 90%;
}
header > .row > a:first-child{
 background: url(../image/logoDark.png);
 background-size: cover;
 height: 60px;
 width: 60px;
 display: block;
 /* margin-left: 100px; */
}
header > .row > nav{
 width: 40%;
}
header > .row > nav > ul {
 display: flex;
 justify-content: space-between;
 width: 100%;
 list-style: none;
 margin: auto 0;
 height: 100%;
}
header > .row > nav > ul > li{
  margin: auto;
  position: relative;
}
header > .row > nav > ul > li:first-child{
 padding-right: 30px;
 transform: scale(1.3);
}
header > .row > nav > ul > li > a{
 color: #0e021d;
 font-size: 1.2em;
 font-weight: bold;
 display: block;
}
header > .row > .profile{
 display: flex;
 justify-content: space-between;
}
header > .row > .profile > p{
 display: block;
 color: #0e021d;
 font-weight: bolder;
 margin: auto 50px auto 100px;
}
header > .row > .profile > a{
 display: block;
 height: 60px;
 width: 60px;
 border-radius: 100px;
 background: url(../image/logo.jpg);
 background-size: cover;
}
main{
 padding-top: 100px;
}
a[data-room="Ванная"]{
 background: url(../image/bathroom.jpg);
 background-size: cover;
 background-position: center;
}
a[data-room="Кухня"]{
 background: url(../image/kichen.jpg);
 background-size: cover;
 background-position: center;
}
a[data-room="Спальня"]{
 background: url(../image/bedroom.jpg);
 background-size: cover;
 background-position: center;
}
a[data-room="Гостиная"]{
 background: url(../image/livingroom.jpg);
 background-size: cover;
 background-position: center;
}
a[href]{
 text-decoration: none;
}
.item{
 margin: 20px 0;
 margin-bottom: 40px;
}
.item > a{
 display: block;
}
.item[data-type="room"] > a{
 width: 335px;
 height: 159px;
}
.item[data-type="appliance"] > a{
 width: 159px;
 height: 159px;
}
.item > a::before{
 content: '';
 position: absolute;
 width: 100%;
 height: 100%;
}
.item > a:hover::before{
 background-color: rgba(0,0,0,.3);
}
.item[data-type="appliance"] > a{
 position: relative;
}
.item[data-type="appliance"] > a::after{
 content: '';
 position: absolute;
 left: 0;
 top: 0;
 padding: 10px;
 background-color: rgba(14, 2, 29, 0.5);
}
.item[data-type="appliance"] > a[data-state="Закрыта"]{
 background: url(../image/entrancedoor.jpg) no-repeat;
 background-size: contain;
 background-position: left;
}
.item[data-type="appliance"] > a[data-state="Выключен"]{
 background: url(../image/chandelier/21.png) no-repeat;
 background-size: contain;
 background-position: left;
}
.item[data-type="appliance"] > a[data-state="Закрыта"]::after{
 content: "Закрыта";
}
.item[data-type="appliance"] > a[data-state="Выключен"]::after{
 content: "выключен";
}
@media (max-width: 500px) {
 main{
  padding: 20px;
 }
 header{
  display: none;
 }
}
@media screen and (max-width: 1400px) and (min-width: 400px) {
 main{
  padding: 30px 20px;
  padding-top: 100px;
 }
 .container{
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-left: 10px;
 }
 .container > .item {
  margin-right: 20px;
 }
}
@media screen and (max-width: 3000px) and (min-width: 1401px) {
 main{
  padding: 30px 100px;
  padding-top: 100px;
 }
 .container{
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  margin-left: 80px;
 }
 .container > .item {
  margin-right: 50px;
  transform: scale(1.1);
 }
}
